X_CLIENT_ID=your_client_id
X_CLIENT_SECRET=your_client_secret
X_REDIRECT_URI=http://127.0.0.1:8080/callback
X_OAUTH_SCOPES=tweet.read tweet.write users.read offline.access

X_ACCESS_TOKEN=replace_after_oauth
X_REFRESH_TOKEN=replace_after_oauth
X_TOKEN_TYPE=bearer
X_EXPIRES_IN=7200
X_TOKEN_CREATED_AT=2026-03-17T22:00:00+01:00
X_REFRESH_BUFFER_SECONDS=300

X_BOT_USERNAME=Gnomes_onchain
X_BOT_USER_ID=1234567890